# ignore Intellij files 
.idea
*.iml

# ignore java targets
target

# ignore installation script artifacts
install.cfg
farao-*.zip
open-rao-*.zip

# ignore python venv and docs' "build-docs" directory for doc generation with sphinx
build-docs/
venv/
