name: CI

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches-ignore:
      - 'ci/**-**'

jobs:
  build:
    name: Build and test on ${{ matrix.os }} with ${{ matrix.jvm }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
        jvm: [ java, graalvm ]

    steps:
      - name: Checkout sources
        uses: actions/checkout@v1

      - name: Set up Java 21
        if: matrix.jvm == 'java'
        uses: actions/setup-java@v1
        with:
          java-version: 21

      - name: Setup GraalVM
        if: matrix.jvm == 'graalvm'
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: '21.0.1'
          distribution: 'graalvm'
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build with Maven
        if: matrix.os == 'ubuntu-latest'
        run: mvn --batch-mode -Pjacoco install -DskipCucumberTests=true

      - name: Build with Maven
        if: matrix.os != 'ubuntu-latest'
        run: mvn --batch-mode install -DskipCucumberTests=true

      - name: Run SonarCloud analysis
        if: matrix.os == 'ubuntu-latest'
        run: >
          mvn --batch-mode -DskipTests sonar:sonar
          -Dsonar.host.url=https://sonarcloud.io
          -Dsonar.organization=powsybl-ci-github
          -Dsonar.projectKey=com.powsybl:open-rao
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Run cucumber tests
        run: mvn test -pl tests
